*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    min-width: 1200px;
    margin: 0;
    padding: 0;

    text-transform: none;

    color: #283136;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.main-header
{
    line-height: 30px;

    text-transform: uppercase;

    color: #000;
    background-color: #eee;
}

.main-navigation
{
    font-weight: 500;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    padding-top: 50px;

    vertical-align: middle;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-header-logo
{
    width: 160px;
    height: 65px;
}

.site-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 440px;
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-right: 42px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.user-navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-right: 1px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.basket
{
    position: relative;

    padding-left: 40px;
}

.basket::before
{
    position: absolute;
    top: 5px;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    background-image: url('../img/basket.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation-current
{
    position: relative;
}

.site-navigation-current::after
{
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;

    width: auto;
    height: 3px;

    content: '';

    background-color: #fb565a;
}

.content-main
{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.slide
{
    display: none;

    padding: 78px 0 80px 0;
}

.slider-list_design
{
    display: block;
    background-image: url('../img/slide-1.png');
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-list_formulas
{
    background-image: url('../img/slide-2.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-list_work
{
    background-image: url('../img/slide-3.png');
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.slider-controls .active::before
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 4px;
    height: 4px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    border: 3px solid #c1c1c1;
    border-radius: 50%;
    background-color: inherit;
}

.slider
{
    position: relative;

    margin-bottom: 83px;

    background-color: #eee;
}

.slider-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide b
{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 520px;

    color: #000;
}

.slide p
{
    max-width: 420px;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 37px;

    white-space: pre-line;
}

.slider-controls button:last-of-type
{
    margin-right: 0;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 100;
    bottom: 98px;
    left: 528px;
    left: 50%;

    height: 18px;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}

.slider-controls button
{
    position: relative;

    display: inline-block;

    width: 18px;
    height: 18px;
    margin: 0;
    margin-right: 17px;
    padding: 0;

    cursor: pointer;
    vertical-align: middle;

    border: none;
    border-radius: 50%;
    background-color: white;
}

.services-navigations
{
    margin-bottom: 83px;
}

.services
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
}

.services h3
{
    margin: 0;
    margin-bottom: 20px;
}

.services p
{
    margin: 0;
    margin-bottom: 31px;
    padding-right: 58px;
}

.websites h3,
.applications h3,
.presentations h3
{
    padding-top: 174px;
}

.websites,
.applications,
.presentations
{
    width: 300px;
}

.websites
{
    margin-right: 101px;
}

.applications
{
    margin-right: 98px;
}

.websites h3::before
{
    position: absolute;
    top: 0;

    width: 300px;
    height: 146px;

    content: '';

    background-color: #fb565a;
    background-image: url('../img/service-1.jpg');
}

.applications h3::before
{
    position: absolute;
    top: 0;

    width: 300px;
    height: 146px;

    content: '';

    background-color: #00ca74;
    background-image: url('../img/service-2.jpg');
}

.presentations h3::before
{
    position: absolute;
    top: 0;

    width: 300px;
    height: 146px;

    content: '';

    background-color: #efc849;
    background-image: url('../img/service-3.jpg');
}

.description
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 48px;
    padding-top: 38px;

    border-top: 2px solid #eee;
}

.description-right
{
    width: 660px;
    margin-right: 140px;
    padding-top: 35px;
}

.description-right h3
{
    font-size: 16px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 23px;
}

.description p
{
    margin: 0;
    margin-top: 34px;
    margin-bottom: 39px;
}

.order-description
{
    margin: 0;
    padding: 0;
}

.order-description li
{
    position: relative;

    margin-bottom: 24px;
    padding-left: 36px;
}

.order-description li::before
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 27px;
    height: 2px;

    content: '';

    background-color: #fb565a;
}

.description-left img
{
    margin-bottom: 32px;
}

.description-left
{
    width: 360px;
}

.description-left h3
{
    font-size: 16px;
    line-height: 24px;

    margin: 0;
    margin-bottom: 40px;

    text-align: center;
}

.advantages-interest td
{
    line-height: 36px;

    padding-right: 17px;
    padding-bottom: 20px;
}

.advantages-interest sup
{
    font-size: 60%;

    top: -15px;
}

.trumps td
{
    line-height: 18px;

    padding-top: 2px;
    padding-left: 1px;
}

.links
{
    margin-bottom: 79px;
}

.links-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding-top: 49px;
    padding-left: 33px;

    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.links-list li
{
    position: relative;

    padding-bottom: 34px;
}

.links-list li:nth-child(1n)
{
    padding-right: 94px;
}

.links-list li:nth-child(2n)
{
    padding-right: 103px;
}

.links-list li:nth-child(3n)
{
    padding-right: 120px;
}

.links-list li:nth-child(4n)
{
    padding-right: 0;
}




.links-list li::after
{
    position: absolute;
    top: 8px;
    right: 45px;

    width: 2px;
    height: 52px;

    content: '';

    background: #eee;
}

.links-list li:nth-child(1n)::after
{
    top: 8px;
    right: 45px;
}

.links-list li:nth-child(2n)::after
{
    top: 19px;
    right: 57px;
}

.links-list li:nth-child(3n)::after
{
    top: 0;
    right: 62px;
}

.links-list li:nth-child(4n)::after
{
    display: none;
}


.write-to-us h2
{
    margin: 0;
}

.write-to-us-form p
{
    margin: 0;
}

.footer-social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-icons
{
    width: 260px;
    margin-right: 142px;
    padding-top: 60px;
    padding-bottom: 68px;
}

.footer-container ul
{
    margin: 0;
    padding: 0;
}

.social-slogan
{
    width: 550px;
    padding-top: 76px;
    padding-bottom: 80px;
}

.social-slogan p
{
    margin: 0;
}

.container-box
{
    position: relative;

    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.container h1
{
    margin: 0;
    padding-top: 77px;
    padding-bottom: 108px;

    text-align: center;

    background-color: #eee;
}

.container-catalog
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 57px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.templates
{
    width: 760px;
}

.templates-filter
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 2px;
    margin-bottom: 32px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.templates-filter ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-top: 2px;
    padding: 0;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.filter
{
    font-size: 14px;
    line-height: 18px;

    text-transform: uppercase;
}

.filter-arrows
{
    line-height: 18px;

    min-width: 40px;

    list-style: none;
}

.arrows
{
    display: inline-block;

    width: 11px;
    height: 10px;

    vertical-align: middle;

    opacity: .2;
}

.arrow-down
{
    margin-right: 18px;

    background: url('../img/button-down.png');
}

.arrow-up
{
    background: url('../img/button-up.png');
}

.arrows:hover,
.arrows:focus
{
    opacity: .6;
}

.arrows:active
{
    opacity: 1;
}

.arrow-current
{
    display: inline-block;

    width: 11px;
    height: 10px;

    vertical-align: middle;
}

.templates-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.template-item
{
    position: relative;

    -webkit-box-sizing: content-box;

            box-sizing: content-box;
    width: 360px;
    height: 576px;
    margin-bottom: 33px;
    padding-top: 40px;
}

.template-item a:active
{
    color: #fff;
}

.template-item::before
{
    position: absolute;
    top: 0;

    width: 360px;
    height: 40px;

    content: '';

    opacity: .12;
    background: url('../img/browser.svg');
}

.templates-list p
{
    margin: 0;
}

.template-description p
{
    line-height: 18px;

    overflow: overlay;

    max-width: 240px;
    margin-right: 65px;
    margin-bottom: 32px;
    margin-left: 65px;

    white-space: pre-line;

    color: #666;
}

.template-description
{
    position: absolute;
    bottom: 0;

    visibility: hidden;
    overflow: overlay;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    min-height: 231px;
    max-height: 576px;
    padding-top: 26px;
}

.template-item:hover::before
{
    opacity: 1;
}

.template-item:hover .template-description
{
    visibility: visible;
}

.template-description h3
{
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.pagination-list
{
    margin: 0;
    padding: 0;
}

.site-navigation,
.user-navigation,
.services,
.order-description,
.links-list,
.social-icons ul,
.pagination-list
{
    list-style: none;
}

.site-navigation a,
.user-navigation a
{
    display: block;

    list-style: none;

    color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus
{
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active
{
    opacity: .3;
    color: #000;
}

.main-header-logo:hover
{
    opacity: .8;
}

.main-header-logo:active
{
    opacity: .3;
}

.button
{
    font-weight: 500;
    line-height: 18px;

    display: block;

    width: 240px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.button:hover,
.button:focus
{
    background-color: #e74246;
}

.button:active
{
    color: rgba(255, 255, 255, .3);
    background-color: #d7373b;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.services .button
{
    width: 162px;
}

.services h3
{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;

    text-transform: uppercase;

    color: #000;
}

.applications .button
{
    background-color: #00ca74;
}

.presentations .button
{
    background-color: #efc84a;
}

.applications .button:hover,
.applications .button:focus
{
    background-color: #00bc6c;
}

.applications .button:active
{
    background-color: #00aa62;
}

.presentations .button:hover,
.presentations .button:focus
{
    background-color: #eab534;
}

.presentations .button:active
{
    background-color: #e5a722;
}

.description b
{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    color: #000;
}

.description h3
{
    font-weight: bold;

    text-transform: uppercase;

    color: #000;
}

.advantages-interest
{
    font-size: 45px;
    font-weight: bold;
    line-height: 10px;

    color: #000;
}

.links-list a
{
    opacity: .2;
}

.links-list a:hover,
.links-list a:focus
{
    opacity: 1;
}

.links-list a:active
{
    opacity: .1;
}

.main-footer
{
    margin-top: 58px;
}

.address
{
    position: relative;

    height: 416px;
}

.address iframe
{
    position: absolute;

    width: 100%;
    height: 100%;

    border: none;
}

.map-wrapper
{
    width: 1200px;
    height: 416px;
    margin: 0 auto;
}

.address img
{
    width: 100%;
    height: 100%;
}

.address-studio
{
    position: absolute;
    z-index: 10;
    top: 53px;

    width: 319px;
    height: 308px;
    margin: 0;

    background: #fff;
}

.address-studio .button
{
    width: 220px;
    margin-left: 51px;
}

.address-studio h2
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    margin: 0;
    margin-top: 50px;
    margin-left: 50px;

    color: #000;
}

.address-studio p
{
    font-weight: 400;
    line-height: 18px;

    margin: 0;
    padding-right: 55px;
    padding-left: 51px;

    color: #666;
}

.address-studio p:nth-child(2)
{
    padding-top: 23px;
}

.address-studio p:nth-child(3)
{
    padding-top: 18px;
    padding-bottom: 38px;
}

.write-to-us
{
    position: relative;
    z-index: 15;
    bottom: 775px;

    display: none;

    width: 923px;
    height: 590px;

    background-color: #fff;
    -webkit-box-shadow: 0 10px 80px rgba(0, 0, 0, .7);
            box-shadow: 0 10px 80px rgba(0, 0, 0, .7);
}

@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }

    70%
    {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }

    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes bounce
{
    0%
    {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }

    70%
    {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }

    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake
{
    0%,
    100%
    {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80%
    {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

.modal-show
{
    display: block;

    -webkit-animation: bounce .6s;
            animation: bounce .6s;
}

.modal-error
{
    -webkit-animation: shake .6s;
            animation: shake .6s;
}

.write-to-us h2
{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    margin-bottom: 40px;
    margin-left: 80px;
    padding-top: 67px;

    color: #000;
}

.write-to-us-form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 780px;
    height: 360px;
    margin-left: 81px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.write-to-us-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.write-to-us-item:nth-child(1)
{
    padding-right: 40px;
}

.write-to-us-item:nth-child(3)
{
    padding-top: 27px;
    padding-bottom: 43px;
}

.write-to-us label
{
    font-weight: bold;
    line-height: 18px;

    margin-bottom: 9px;

    color: #000;
}

.write-to-us input
{
    width: 343px;
    height: 43px;

    outline: none;
}

.write-to-us textarea
{
    width: 743px;
    height: 99px;

    outline: none;
}

.write-to-us-form input,
.write-to-us-form textarea
{
    font-weight: 400;

    color: #d7dcde;
    border: 2px solid #d7dcde;
}

.write-to-us-form input
{
    border-color: #d7dcde;
}

.write-to-us-form input:hover,
.write-to-us-form textarea:hover
{
    border-color: #b4b9bb;
}

.write-to-us-form input:focus,
.write-to-us-form textarea:focus
{
    color: #444;
    border-color: #000;
}

.write-to-us-form input:invalid
{
    border-color: #e74246;
}

.write-to-us input,
.write-to-us textarea
{
    padding-left: 13px;
}

.write-to-us textarea
{
    padding-top: 9px;
}

.write-to-us button
{
    width: 260px;
    height: 50px;
    margin: 0;
    padding: 0;

    outline: none;
}

.modal-close
{
    font-size: 0;

    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    border: 0;
    background-color: transparent;
}

.write-to-us--inner
{
    bottom: 770px;
}

.modal-close::before,
.modal-close::after
{
    position: absolute;
    top: 7px;
    right: 2px;

    width: 24px;
    height: 4px;

    content: '';

    opacity: .3;
    background-color: #f30a0e;
}

.modal-close::before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after
{
    opacity: 1;
    background-color: #f30a0e;
}

.modal-close:active::before,
.modal-close:active::after
{
    opacity: .1;
    background-color: #f30a0e;
}

.social-icons a:hover,
.social-icons a:focus
{
    color: #e74246;
}

.social-icons a:active
{
    color: #d7373b;
}

.social-icons ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 260px;
    margin: 0;
    padding: 0;
    padding-right: 140px;

    text-align: center;
}

.social-icons li
{
    padding-right: 10px;
}

.social-button
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 80px;
    height: 80px;

    border-radius: 50%;
    background-color: #e1e1e1;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-button:hover,
.social-button:focus
{
    background-color: #e74246;
}

.social-button:active
{
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.social-button:focus path
{
    fill: #e37376;
}

.social-slogan b
{
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;

    color: #000;
}

.social-slogan p
{
    font-weight: 400;
    line-height: 22px;

    padding-top: 10px;

    color: #444;
}

.container h1
{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    color: #000;
}

.filter-form fieldset
{
    border: none;
}


.item
{
    margin: 0;
    padding: 0;

    border: none;
}

.range-filter
{
    width: 260px;
    margin-top: 46px;
}

.item legend
{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    text-transform: uppercase;
}

.range-controls
{
    position: relative;

    height: 80px;
    margin-bottom: 16px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale
{
    position: absolute;
    top: 50%;
    left: 20px;

    width: 220px;
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar
{
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle
{
    position: absolute;
    top: 31px;
    left: 0;

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
}

.scale .bar
{
    width: 65%;
    margin-left: 5%;
}

.range-controls .toggle-min
{
    left: 18px;
}

.range-controls .toggle-max
{
    left: 160px;
}

.price-controls
{
    font-size: 0;
}

.price-controls label
{
    font-size: 16px;
    line-height: 22px;

    display: inline-block;

    width: 50%;

    vertical-align: middle;
    text-transform: uppercase;
}

.price-controls input
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;

    width: 80px;
    margin-left: 7px;
    padding: 8px 0;

    text-align: center;

    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price
{
    text-align: right;
}


.filters ul
{
    line-height: 20px;

    list-style: none;
}

.grid
{
    display: block;

    margin: 0;
    margin-top: 56px;
    padding: 0;
}

.grid legend,
.features legend
{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 6px;

    text-transform: uppercase;
}

.filter-option
{
    margin-bottom: 20px;
    padding-left: 38px;
}

.filter-option label
{
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #283136;
}

.filter-input-radio + label::before
{
    position: absolute;
    top: -4px;
    left: -38px;

    width: 25px;
    height: 25px;

    content: '';

    opacity: .4;
    background-image: url('../img/radio-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label::before
{
    position: absolute;
    top: -4px;
    left: -38px;

    width: 25px;
    height: 25px;

    content: '';

    opacity: .4;
    background-image: url('../img/radio-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox + label::before
{
    position: absolute;
    top: -4px;
    left: -38px;

    width: 25px;
    height: 25px;

    content: '';

    opacity: .4;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before
{
    position: absolute;
    top: -4px;
    left: -38px;

    width: 25px;
    height: 25px;

    content: '';

    opacity: .4;
    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before
{
    opacity: .3;
    color: rgba(40, 49, 54, .6);
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label
{
    opacity: .3;
    color: rgba(40, 49, 54, .6);
}

.filter-input:hover + label::before,
.filter-input:focus + label::before
{
    opacity: 1;
}

.grid ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin: 0;
    padding: 0;
    padding-top: 10px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.features
{
    margin: 0;
    margin-top: 26px;
    padding: 0;
}

.features ul
{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.filter-button
{
    font-weight: 500;
    line-height: 18px;

    width: 260px;
    margin-top: 29px;

    color: #000;
    background-color: #eee;
}

.filter-button:hover,
.filter-button:focus
{
    background-color: #dfdfdf;
}

.filter-button:active
{
    color: rgba(0, 0, 0, .3);
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.templates h3
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    color: #000;
}

.utemplates-list h3
{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

    color: #000;
}

.filter
{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    list-style: none;

    color: #000;
}

.filter-link
{
    opacity: .3;
    color: #000;
}

.filter-link:hover,
.filter-link:focus
{
    opacity: .6;
    color: #000;
}

.filter-link:active
{
    opacity: 1;
    color: #000;
}

.filter-link-current
{
    color: #000;
}

.filter-link-current:hover,
.filter-link-current:focus,
.filter-link-current:active
{
    color: #000;
}

.templates-list
{
    list-style: none;
}

.templates-list div
{
    text-align: center;

    background-color: #eee;
}

.templates-list .button
{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.templates-filter h3
{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    margin: 0;
    padding-right: 265px;
    padding-bottom: 25px;

    text-transform: uppercase;
}

.filter li:nth-child(1n)
{
    padding-right: 26px;
}

.filter li:nth-child(2n)
{
    padding-right: 27px;
}

.filter li:nth-child(3n)
{
    padding-right: 45px;
}


.pagination-list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 27px;
}

.pagination-list a
{
    font-weight: 500;
    line-height: 18px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 10px;
    padding: 0 10px;

    list-style: none;

    text-transform: uppercase;

    color: #000;
}

.pagination-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 50px;
    height: 50px;

    background-color: #eee;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.next
{
    width: 260px;
}

.pagination-item:hover,
.pagination-item:focus
{
    background-color: #dfdfdf;
}

.pagination-item:active
{
    color: rgba(0, 0, 0, .302);
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
            box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, .1);
}

.pagination-item-current
{
    color: #000;
    border: 2px solid #dbdbdb;
    background-color: #fff;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active
{
    color: #000;
    background-color: #fff;
}
