*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Podkova", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 1300px;
  padding: 0;
  text-transform: none;
  color: #283136;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.header__logo {
  width: 160px;
  height: 60px;
  padding-right: 80px;
  cursor: pointer;
}

.header {
  background-color: chartreuse;
}

.header__navigation {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: chartreuse;
}

.header__site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.header__site-navigation li {
  padding-left: 80px;
}

.header__site-navigation a:hover {
    color: red;
  }

  .header__site-navigation a:active {
    color: grey;
  }
